@font-face {
    font-family: 'Titillium_Web';
    src: url('../css/Titillium_Web/TitilliumWeb-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

#falling_snow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    z-index: -1;
    background: #262626;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header.container {
    margin-bottom: 10%;

}

header .logo a,
.animated_text {
    color: white;
    text-decoration: none;
    font-size: 42px;
    font-family: 'Poppins',
        sans-serif;
    font-weight: 600;
    /* background-image: linear-gradient(55deg, red, green, red, black, orange, yellow, red, grey); */
    animation: text_gradient 7s ease-in-out infinite;
    /* background-image: linear-gradient(to right, #799F0C, red, #FFE000, red); */
    background: #FFE000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #799F0C, #FFE000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #799F0C, #FFE000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    animation-fill-mode: both;
    font-weight: 900;
    background-clip: text;
    text-fill-color: transparent;
    margin-top: 32px;
    display: inline-block;
    background-size: 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

header .logo a span {
    font-size: 30px;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

header .navbar .menu_link,
.dropdown_link {
    font-family: 'Poppins';
    background-image: linear-gradient(to right, #799F0C, #FFE000);


    animation: text_gradient 3s ease-in-out infinite;
    animation-fill-mode: both;
    font-weight: 900;
    background-clip: text;
    text-fill-color: transparent;
    background-size: 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.navbar .dropdown_btn {
    position: relative;
}

.navbar .dropdown_menu {
    position: absolute;
    top: 32px;
    background: rgb(93, 83, 83);
    left: 0;
    border-radius: 10px;
    border-top-left-radius: 0;
    width: 200px;
    box-sizing: border-box;
    transform: rotateX(-90deg);
    transition: 0.4s all cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.dropdown_btn:hover .dropdown_menu {
    transform: rotateX(0deg)
}

.animated_text {
    margin-bottom: 32px;
}

.navbar .dropdown_menu:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: rgb(93, 83, 83);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    top: -8px;
}

.navbar .dropdown_menu .dropdown_link {
    display: block;
    padding: 10px 20px;
}
.hero{
    height: 100vh;
}

.site_hero .welcome {
    font-family: 'Titillium_Web';
    color: white;
    font-size: 45px;
    font-weight: 600;
    display: inline-block;
    padding-top: 10%;
}

.site_hero .follow_me {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    display: inline-block;
    height: 47px;
    width: auto;
    margin-bottom: 10px;
    font-family: Titillium_Web;
    padding: 10px 25px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ff6347;
z-index: 999999;
}

.gradient-border {
    --border-width: 5px;
    position: relative;
    width: 300px;
    height: 200px;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    color: white;
    background: #222;
    transition: 0.4s all ease-in-out;
    border-radius: var(--border-width);
}
.gradient-border:hover {
    background: #c94b4b;
    background-position: -120px;
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
    background: linear-gradient(to right, #4b134f, #c94b4b);

}

.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    filter: blur(5px);
    animation: moveGradient 4s alternate infinite;
}

* {
    margin: 0;
    padding: 0;
}

/* Icon 1 */

#nav-icon1 {
    width: 40px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 10px;
}

#nav-icon1 span:nth-child(3) {
    top: 20px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

@keyframes text_gradient {
    50% {
        background-position: 240px
    }

    100% {
        background-position: 0px
    }
}



@media screen and (max-width: 768px) {
    #nav-icon1 {
        display: block;
    }

    header .navbar {
        display: none;
    }

}
::-webkit-scrollbar {
  width: 10px;
  transition: all ease 0.5s;
  height: 10px;
}
::-webkit-scrollbar-button {
  transition: all ease 0.5s;
  width: 5px;
  background: #000;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  transition: all ease 0.5s;
  background: #393e89;
  border: 60px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  transition: all ease 0.5s;
  background: #302f75;
}
::-webkit-scrollbar-thumb:active {
  background: #3945a2;
}
::-webkit-scrollbar-track {
  transition: all ease 0.5s;
  background: #000000;
  border: 59px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #000;
}
::-webkit-scrollbar-track:active {
  transition: all ease 0.5s;
background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.resume-heading{
    width: 100%;
    padding: 32px 12px;
    font-family :'Titillium_Web';
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}
.resume-heading .user-name{
    font-size: 42px;
    color: white;
}
.resume-heading .user-position{
    color: white;
    font-size: 28px;
}
.resume-heading .heading-info .address{
    color: rgb(141, 141, 141);
    font-size: 16px;
}
.resume-heading .heading-info .address span{
    font-size: 18px;
    color: white;
}
.resume-heading .heading-info .item-link{
   color: rgb(255, 255, 255);
    font-size: 18px; 
}
.resume-heading .heading-info .item-link a{
    color: rgb(141, 141, 141);
    margin-left: 10px;
    font-size: 16px;
    text-decoration: none;
}
.resume-main .inspiration{
    font-family :'Titillium_Web';
    margin: 0 auto;
    width: 75%;
    padding: 30px 0;
    color: white;
}